{% extends 'index.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md">
        <h2>Bill</h2>
    </div>
    <div class="col-md">
      <form class="" action="{{url_for('view_bills',page=1)}}" method="post">
        {{form.hidden_tag()}}
        <input placeholder="Search" id="name" class="form-control" type="text" name="id" value="">
      </form>
    </div>
    <div class="col-md">

    </div>
  </div>


  <table class="table">
    <th>Bill ID</th>
    <th>Table</th>
    <th>Time</th>
    <th>Discount</th>
    <th>Payment Mode</th>
    <th>Cost</th>

    {% for bill in bills %}
      <tr>
        <td><a href="{{url_for('edit_bill',bid=bill.bid)}}">{{bill.bid}}</td>
        <td>{{table_cost[loop.index-1][1].name.upper()}}</td>
        <td>{{bill.timestamp}}</td>
        <td>{{bill.discount}}</td>
        <td>{{bill.payment_mode.upper()}}</td>
        <td>{{table_cost[loop.index-1][0]}}</td>
      </tr>
    {% endfor %}

  </table>

  <ul class="pagination">
  {% if paginate.has_prev %}
  <li class="page-item"><a class="page-link" href="{{url_for('view_bills',page=paginate.page -1)}}">Previous</a></li>
  {% else %}
  <li class="page-item disabled"><a class="page-link" href="{{url_for('view_bills',page=paginate.page -1)}}">Previous</a></li>
  {% endif %}
  {% for page in paginate.iter_pages() %}
  {% if page %}
    {% if page != paginate.page %}
    <li class="page-item"><a class="page-link" href="{{ url_for('view_bills', page=page) }}">{{ page }}</a></li>
    {% endif %}
    {% endif %}
  {% endfor %}
  {% if paginate.has_next %}
  <li class="page-item"><a class="page-link" href="{{url_for('view_bills',page=paginate.page +1)}}">Next</a></li>
  {% else %}
  <li class="page-item disabled"><a class="page-link" href="{{url_for('view_bills',page=paginate.page +1)}}">Next</a></li>
  {% endif %}
</div>



<script type="text/javascript">
  document.getElementById("name").focus()
</script>
{% endblock %}
